html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

$bg-color: #c2c6d6;
$title-img:url("./img/VW.jpg");
$bg-img:url("./img/GTI.jpg");
$title-bg: rgba(26,26,26,.6);
$title-color:#d8def8;
$main-bg-color: #a4a9be;
$medium-text:calc(0.5rem + 0.6vw);
$large-text:calc(1 + 1vw);
$small-text:calc(0.4rem + 0.4vw);

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	display: flex;
	height: 100%;
	background-image: $bg-img;
	background-size: 100%;
	background-position-y: 80%;
	background-position-x: 80%;
}

.title-container{
	background-image: $title-img;
	background-size: cover;
	background-position-x: 26%;
	width: 35%;
	display: flex;
	padding-top: 13%;
}
.title-background{
	background-color: $title-bg;
	width: 100%;
	height: max-content;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.title-words{
	color:#c2c6d6;
}
#main-logo{
	margin-right: 0.6em;
}
.title-words>h1{
	margin: 0.6rem;
}
.main-container{
	background-color: $bg-color;
	width: 65%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .946;
}
.hero-title{
	margin-top:6%;
	width: 80%;
	font-size: $large-text;
}
.hero-text{
	width: 80%;
	font-size: $medium-text;
	margin-bottom: 4%;
}
.mainForm{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: -1px 0px 6px 0px #000413;
}
.input-container{
	margin-top: 2%;
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: $main-bg-color;
	box-shadow: 2px 2px 16px  #525667;
	padding-block: 2%;
}
.space-between{
	display: inherit;
	justify-content: space-around;
}
.vertical{
	display: inherit;
	flex-direction: column;
}
input{
	border-color: #525667;
	border-radius: 4px;
	background-color: rgb(245,245,245);
}
input:focus{
	transform: scale(102%);
	box-shadow: 2px 2px 6px #525667;
}
label{
	font-size: small;
}
b{
	font-weight: 500;
}
.bottom-container{
	width: 75%;
	margin-top: 4%;
	margin-bottom: 6%;
}
.submit-btn{
	margin-left: 2%;
	border-radius: 6px;
	height: 2.6rem;
	width: 10rem;
	background-color: #29334c;
	color: rgb(245,245,245);
}
.already{
	margin-top: 2%;
	font-size: small;
}
span>a{
	text-decoration: none;
	color: #346aa7;
}
span>a:hover{
	text-decoration: underline;
}
em{
	font-style: italic;
	font-weight: 600;
}
#inputPass:valid, #validPass:valid{
	border-color: green;
}
 input:invalid{
	border-color:red;
}
#passTips{
	position: absolute;
	top:40%;
	left:60%;
	font-size: $small-text;
	width: 12rem;
}
.invalid{
	color:rgb(171, 1, 1);
}
.valid{
	color:green;
}

